<!DOCTYPE html>
<html lang="{{ .Language }}">
  {{ partial "head.html" . }}

  <style type="text/css" media="screen">
    .webp #image-container {
      background-image: url("{{ .Page.Params.webpPath }}");
    }
    .no-webp #image-container {
      background-image: url("{{ .Page.Params.altPath }}");
    }
  </style>
  <body>
    <div id="page-container">
      {{ partial "header.html" . }}

      <main>
        <!-- Hero Image -->
        {{ if eq .Page.Params.imageOn true }}

        <div id="image-container">
          <h1 class="image-title">{{ .Title }}</h1>
          <a
            href="{{if eq .Title "O Nás" }}#mapa{{else}}#content{{end}}"
            class="scroll"
            aria-label="Posun níže"
          >
          </a>
        </div>
        {{ else }}

        <h1 class="page-title">{{ .Title }}</h1>
        {{ end }}

        <!-- /Hero Image -->
        <!-- Obsah -->
        <div class="content">
          {{ block "main" . }}
 {{ end }}

        </div>
        <!-- Mapa O Nas -->
        {{ if or (eq .Title "O Nás") (or (eq .Title "About") (eq .Title "Über uns")) }}

        <div id="mapa">
          <h2>{{ T "mapa" }}</h2>
        </div>
        {{ end }}

        <!-- /Mapa O Nas -->
        <!-- /Obsah -->
      </main>
      {{ partial "footer.html" . }}
      <script type="text/javascript" src="/gridGallery/galerie.js"></script>

    </div>
  </body>
</html>
