{{ define "main" }}

  {{ .Content }}
  <div class="cards-container">
    <!-- projdu stranky ktere nemaji nastaveny typ a karty s typem karta a vytvorim na ne odkazy ve forme karticek -->
    {{ range sort (union (where .Pages "Params.typ" "==" nil) (where .Pages "Params.typ" "==" "karta")) "Weight" }}
      {{ if not .Params.hidden }}
        <a class="card-link" href="{{ if isset .Params "itemurl" }}{{ .Params.itemUrl }}{{ else }}{{ .Permalink }}{{ end }}"{{ if (in .Params.itemUrl "pdf") }} target="_blank"{{end}}>
          <div class="card">
            <!-- svgOn je historicka, nove je malyOdkaz -->
            {{ if .Page.Params.svgOn }}
              <div class="svg-container">
                <img src="/img/{{ .Param "svgPath" }}" alt="{{ .Param "svgAlt" }}"/>
              </div>
            {{end}}
            <div class="card-title">
              {{.Title}}
            </div>
          </div>
        </a>
      {{ end }}
    {{ end }}

  </div>
  <div class="cards-container">
        <!-- projdu stranky s typem malyOdkaz a vytvorim pro ne odkazy ve forme malych odkazu -->
        {{ range sort (where .Pages "Params.typ" "==" "malyOdkaz") "Weight" }}
        {{ if not .Params.hidden }}
          <a class="card-link" href="{{ if isset .Params "itemurl" }}{{ .Params.itemUrl }}{{ else }}{{ .Permalink }}{{ end }}"{{ if (in .Params.itemUrl "pdf") }} target="_blank"{{end}}>
            <div class="card-title maly-odkaz">
            {{ .Title }}
            </div>
          </a>
        {{ end }}
      {{ end }}
  </div>
  <div>
        <!-- stranky typu clanek -->
        {{ range sort (where .Pages "Params.typ" "==" "clanek") "Weight" }}
            {{ if not .Params.hidden }}
            <a href="{{ if isset .Params "itemurl" }}{{ .Params.itemUrl }}{{ else }}{{ .Permalink }}{{ end }}"{{ if (in .Params.itemUrl "pdf") }} target="_blank"{{end}}>
              <div class="article-summary-container">
                  <span>{{ .Title }}</span>
                  <p class="summary">
                      {{ .Summary }}...
                  </p>
                </div>
            </a>
            {{ end }}
        {{ end }}
  </div>

{{ end }}
