{{ define "main" }}
<p>Mezinárodní rozvíjející se společnost skupiny Weppler Filter GmbH, zabývající se vývojem a výrobou mikrofiltrů pro automobilový průmysl, která patří k významným zaměstnavatelům v Ostravském regionu a zaměstnává přes 1000 pracovníků aktuálně nabízí tyto pozice:
</p>
  <div class="cards-container">
    {{ range .Pages.ByWeight }}
    <a class="card-link" href="{{ .Params.itemUrl }}"{{ if (in .Params.itemUrl "pdf") }} target="_blank"{{end}}>
          <div class="card">
            {{ if .Page.Params.svgOn }}
            <div class="svg-container">
              <img src="/img/{{ .Param "svgPath" }}" alt="{{ .Param "svgAlt" }}"/>
            </div>
            {{end}}
            <div class="card-title">
              {{.Title}}
            </div>
          </div>
      </a>
    {{ end }}
  </div>
  {{ .Content }}
{{ end }}
