/*Variables*/
:root {
  --main-color: {{ .Site.Params.colors.mainColor }};
  --hover-link: {{ .Site.Params.colors.hoverLink }};
  --text-icons: {{.Site.Params.colors.textIcons}};
}

/*Links*/
a,
a:visited {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

#current-link {
  border-bottom: solid 2px var(--main-color);
  border-color: var(--main-color);
  color: var(--main-color);
}

a:hover,
a:active {
  color: var(--hover-link);
}

#footer a,
figure a {
  color: inherit;
}

/*Other*/

#header {
  background-color: white;
}

#home-icons svg {
  stroke-width: 0.262247;
}

#footer,
.scroll,
.scroll svg,
.image-title,
.card,
#mapa > h2,
figure {
  background-color: var(--main-color);
  color: var(--text-icons);
}

#mapa > h2,
.bodove {
  border-radius: 4px;
}

.bodove {
  border: 3px solid var(--main-color);
}

.maly-odkaz {
  background-color: var(--main-color);
  color: white;
}

.summary {
  color: #333333;
}

.article-summary-container {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
