html {
  scroll-behavior: smooth;
}

ul li {
  list-style-type: square;
}

pre {
  margin: 0;
}

.icon-tabler {
  width: 30px;
  height: 30px;
}

svg {
  stroke-width: 1.7;
  stroke-linecap: round;
}

.toggle-link > svg {
  stroke-width: 2.5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 20px;
  display: block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pdf {
  margin: 0px auto 30px auto;
  overflow: hidden;
}

table {
  margin-top: 5px;
  width: 100%;
}

/*Google Maps*/
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 10px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 10px 0;
}

.scroll {
  border-radius: 300px;
  border: none;
  cursor: pointer;
  width: 2vw;
  height: 2vw;
  background-image: url(/img/arrow_down.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

#mapa {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.webp #mapa {
  background-image: url(/img/other/mapa.webp);
}

.no-webp #mapa {
  background-image: url(/img/other/mapa.png);
}

.circles {
  width: 20px;
  height: 20px;
  border: solid blue 1.3px;
  font-weight: bold;
  position: relative;
  animation: fade 1s infinite;
  border-radius: 20px;
  animation-timing-function: linear;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  80% {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}
.scroll {
  animation: wiggle 1.5s 4;
  animation-timing-function: ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

#image-container {
  /*height: 100%;*/
  /*width: 100%;*/
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

figure {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

summary {
  cursor: pointer;
}

p a,
p a:visited {
  cursor: pointer;
}
