/*Typography*/
:root,
html,
pre {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-display: swap;
}

.image-title {
  font-size: 2.3rem;
}

h2 {
  margin: 0;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 550;
  text-align: center;
}

p,
ul {
  line-height: 1.5em;
}

#header {
  font-size: 1.2rem;
  font-weight: 500;
}

.captions {
  font-weight: 700;
  font-size: 1.2rem;
}

.legal {
  font-size: 0.8rem;
}

#mapa > h2 {
  font-size: 4vw;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  #mapa > h2 {
    font-size: 8vw;
  }
}

.o-nas {
  text-align: center;
  font-size: 1.6rem;
}

.bodove {
  font-size: 1.6rem;
  font-weight: 500;
}

#moto {
  font-style: italic;
  text-align: center;
  font-weight: 600;
  font-size: 2.3rem;
}

summary {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
}

#footer {
  font-weight: 450;
}

p a,
p a:visited {
  text-decoration: underline;
}

.summary {
  font-size: 0.8rem;
}

.summary p {
  text-decoration: none;
}
