{{ define "main" }}

<div id="home-icons">
  <div>
    <img src="/img/homepage/spoluprace_ikona.svg" alt="" />
    <span class="captions">{{ T "spoluprace" }}</span>
  </div>
  <div>
    <img src="/img/homepage/lide_ikona.svg" alt="" />
    <span class="captions">{{ T "lide" }}</span>
  </div>
  <div>
    <img src="/img/homepage/kvalita_ikona.svg" alt="" />
    <span class="captions">{{ T "kvalita" }}</span>
  </div>
  <div>
    <img src="/img/homepage/prostredi_ikona.svg" alt="" />
    <span class="captions">{{ T "prostredi" }}</span>
  </div>
  <div>
    <img src="/img/homepage/zlepsovani_ikona.svg" alt="" />
    <span class="captions">{{ T "zlepsovani" }}</span>
  </div>
</div>
<h2 id="moto">"{{ T "moto" }}"</h2>
{{ .Content }}
{{ end }}
