<footer id="footer">
  <div id="flags-container">
    <nav class="langNav">
      <!-- Projde vsechny preklady dane stranky -->
      <!-- Pokud stranka neni prelozena, odkaz na preklad se nezobrazi -->
      {{ range .Translations }}

      <!-- Jmeno souboru vlajky = <nazev jazyka malymi pismeny>.svg -->
      {{ $jmenoSouboru := lower (delimit (slice .Language.LanguageName ".svg") "") }}

      <a href="{{ .Permalink }}" aria-label="{{ .Language.LanguageName }}">
        <img
          src="{{ delimit (slice "/img/lang/" $jmenoSouboru) "" }}"
          alt="{{ .Language.LanguageName }}"
          width="200"
          height="200"
      /></a>
 {{end}}

    </nav>
  </div>
  <div id="kontakt-footer">
    <a class="contact" href="mailto:{{ .Site.Params.email }}">
      <img src="/img/kontakt/mail.svg" alt="Email:" />
      {{ .Site.Params.email }}

    </a>
    <a
      class="contact"
      href="tel:{{ delimit (slice "0" (replace (replace .Site.Params.tel " " "") "+" "0")) "" }}"
    >
      <img src="/img/kontakt/tel.svg" alt="Tel.:" />
      {{ .Site.Params.tel }}

    </a>
  </div>
  <div id="footer-loga">
    {{ range sort .Site.Params.footer "weight" }}

    <a
      href="{{ .link }}"
      target="_blank"
      rel="noopener"
      aria-label="{{ .name }}"
    >
      <img clas="loga" src="{{ .img }}" alt="Partner {{ .name }}" />
    </a>
    {{ end }}

  </div>
</footer>
