<nav id="header">
  {{ if isset .Site.Params "logo" }}
  <div id="horni-header">
    <a href="{{ "/" | absLangURL }}">
      <picture>
        {{ $webp := delimit (slice .Site.Params.logo.hlavniLogo ".webp") ""  }}

        {{ $img := .Site.Params.logo.hlavniLogo }}
 {{ $soubor := "" }}

        <!-- Pokud existuje soubor ve formatu svg, png, jpeg nebo jpg, bude pridan jako alternativa k webp -->
        {{ if (fileExists (delimit (slice "static" $img ".svg") "")) }}

        {{ $soubor = delimit (slice $img ".svg") "" }}

        {{ else if (fileExists (delimit (slice "static" $img ".png") "")) }}

        {{ $soubor = delimit (slice $img ".png") "" }}

        {{ else if (fileExists (delimit (slice "static" $img ".jpg") "")) }}

        {{ $soubor = delimit (slice $img ".jpg") "" }}

        {{ else if (fileExists (delimit (slice "static" $img ".jpeg") "")) }}

        {{ $soubor = delimit (slice $img ".jpeg") "" }}
 {{end}}

        <source srcset="{{ $webp }}" type="image/webp" />
        <source srcset="{{ $soubor }}" />
        <img
          id="hlavni-logo"
          src="{{ $soubor }}"
          alt="Logo firmy {{ .Site.Params.firma }}"
          width="{{ .Site.Params.logo.sirka }}"
          height="{{ .Site.Params.logo.vyska }}"
        />
      </picture>
    </a>
    {{ end }}
    <div class="toggle toggle-link">
      {{ partial "svg/hamburger.svg" . }}

    </div>
  {{ if isset .Site.Params "logo" }}
  </div>
  {{ end }}
  {{ $title := .Title }}
 {{ range .Site.Menus.mainmenu }}

  <a
    href="{{ .URL | absLangURL }}"
    id="{{if eq .Name $title}}current-link{{end}}"
    {{if strings.HasPrefix .URL "http"}}target="_blank"
    rel="noopener"
    {{end}}

    >{{.Name}}</a
  >
  {{end}}

</nav>
