/*Footer*/
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.flags {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.langNav img {
  width: 25px;
  height: auto;
  margin: 10px;
}

#kontakt-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#kontakt-footer,
#kontakt-footer a {
  margin: 5px 10px;
}

#footer-loga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

#footer-loga img {
  width: 140px;
}
