/* HomePage */
#home-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#home-icons div {
  padding: 15px;
  display: flex;
  align-items: center;
}

.captions {
  margin-left: 10px;
}

#home-icons svg,
#home-icons img {
  height: 60px;
  width: 60px;
}

#moto {
  margin: 50px 0 50px 0;
}
