/* Kontakt */
.contact {
  display: flex;
  align-items: center;
}

.contact img {
  margin-right: 15px;
  max-width: 20px;
  max-height: 20px;
}

.contact > a > svg,
.contact > svg {
  margin-right: 10px;
}

.produkty-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto;
}

.text-grid {
  grid-column: 1 / 1;
}

.img-grid {
  grid-column: 2 / 2;
}

.img-article {
  float: right;
}

.scroll {
  padding: 9px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.bodove span {
  margin: 10px 20px;
}

/* Kontaktni karty */
figure {
  padding: 22px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
}

figure img {
  width: 170px;
  margin: auto;
  border-radius: 100px;
}

figure h4 {
  width: 230px;
}
