/*Page Layout*/
#page-container {
  min-height: 100%;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-title {
  align-self: flex-start;
  margin-left: 7.5%;
}

/*Main*/
#image-container {
  position: relative;
  height: 85vh;
  width: 100vw;
}

.image-title {
  position: absolute;
  padding: 10px;
  margin-top: 40px;
  border-radius: 0 10px 10px 0;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 85%;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
  .content {
    width: 95%;
    margin: auto;
  }

  .page-title {
    margin-left: 2.5%;
  }

  #hlavni-logo {
    height: 7vh;
    margin: 0 20px;
  }

  .navic {
    display: none;
  }
}

.pictures {
  height: auto;
  max-width: 100%;
}

#kontakt-rozsireny td {
  padding: 6px;
}

.contact-container .contact {
  margin-bottom: 8px;
}

.article-summary-container {
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
