/*List Cards*/
.card {
  width: 280px;
  height: 220px;
  padding: 15px;
}

.cards-container svg {
  stroke-width: 1.3;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.svg-container {
  height: 70%;
  position: relative;
}

.svg-container img {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
}

.card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.card-title {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maly-odkaz {
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
}
