/*Navbar*/
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  top: 0;
  z-index: 1;
}

#hlavni-logo,
.firemniLogo {
  height: 12vh;
  width: auto;
}

#hlavni-logo {
  margin: 0 30px;
}

.toggle-link {
  cursor: pointer;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .toggle {
    display: block;
    padding: 20px;
  }
}

.items-toggle {
  display: block !important;
  margin-left: 20px;
}

address {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  #header {
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    min-height: 20vh;
    height: auto;
    width: 100%;
    margin: auto;
  }

  #header a:not(:first-child) {
    display: none;
    margin-bottom: 10px;
  }

  #horni-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
