/* O Nas */
#mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#mapa > h2 {
  padding: 10px;
  max-width: 50%;
}

.o-nas {
  max-width: 900px;
  margin: 50px auto 50px auto;
}

.bodove {
  padding: 10px;
  margin: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
