/* Partneri */
.loga-partneru {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .loga-partneru a {
    margin: 10px;
  }
  
  .loga-partneru .pictures {
    max-width: 350px;
    height: auto;
  }
  
  details {
    margin: 10px;
    margin-bottom: 40px;
  }