<address>
  {{ .Site.Params.adresa.ulice }} {{ .Site.Params.adresa.cisloPopisne }}<br />
  {{ .Site.Params.adresa.psc }} {{ .Site.Params.adresa.mesto }}{{ if isset .Site.Params.adresa "castmesta" }} -
  {{ .Site.Params.adresa.castMesta}}{{ end }}<br />
  {{ T "kraj" }}<br />
</address>
