<div class="gg-container">
  <div class="gg-box" id="square-dark" data-layout="square">
    {{ range sort (readDir ( print "static/" (.Get "src") ) ) }}
      <img src="{{ print ( $.Get "src" ) "/" .Name }}">
    {{ end }}
  </div>
</div>
