<div class="contact-container">
  <div class="contact">
    <a class="contact" href="mailto:{{ .Site.Params.karieraEmail }}">
      <img src="/img/kontakt/mail_black.svg" alt="Email:" />
    </a>
    <a class="contact" href="mailto:{{ .Site.Params.karieraEmail }}">
      {{ .Site.Params.karieraEmail }}

    </a>
  </div>
  <div class="contact">
    <a
      class="contact"
      href="tel:{{ delimit (slice "0" (replace (replace .Site.Params.tel " " "") "+" "0")) "" }}"
    >
      <img src="/img/kontakt/tel_black.svg" alt="Tel.:" />
    </a>
    <a
      class="contact"
      href="tel:{{ delimit (slice "0" (replace (replace .Site.Params.tel " " "") "+" "0")) "" }}"
    >
      {{ .Site.Params.karieraTel }}

    </a>
  </div>
</div>
