<!-- parametr "skupina" = nazev skupiny v .Site.Params.osoby; napr: skupina="vedeni" -->
{{ $groupName := (.Get "skupina") }}

{{ $selectedGroup := index .Site.Params.osoby $groupName }}

<div class="cards-container">
  {{ range sort $selectedGroup "weight" }}

  <figure>
    <picture>
      <source srcset="{{ .foto }}.webp" type="image/webp" />
      {{ $img := .foto }}
 {{ $soubor := "" }}

      <!-- Pokud existuje soubor ve formatu svg, png, jpeg nebo jpg, bude pridan jako alternativa k webp -->
      {{ if (fileExists (delimit (slice "static" $img ".png") "")) }}

      {{ $soubor = delimit (slice $img ".png") "" }}

      {{ else if (fileExists (delimit (slice "static" $img ".jpg") "")) }}

      {{ $soubor = delimit (slice $img ".jpg") "" }}

      {{ else if (fileExists (delimit (slice "static" $img ".jpeg") "")) }}

      {{ $soubor = delimit (slice $img ".jpeg") "" }}
 {{end}}

      <source srcset="{{ $soubor }}" />
      <img src="{{ .foto }}.jpg" alt="Profilový obrázek {{ .jmeno }}" />
    </picture>
    <figcaption>
      <h4>{{ T (replace (replace (lower .titul) " " "_") "." "") }}</h4>
      <p>{{ .jmeno }}</p>
      <a href="tel:{{ replace .tel " " "-" }}">
        <p>{{ .tel }}</p>
      </a>
    </figcaption>
  </figure>
  {{ end }}

</div>
