<div class="contact-container">
  <div class="contact">
    <a href="mailto:{{ .Site.Params.email }}">
      <img src="/img/kontakt/mail_black.svg" alt="Email:" />
    </a>
    <a href="mailto:{{ .Site.Params.email }}"> {{ .Site.Params.email }}
 </a>
  </div>
  <div class="contact">
    <a href="tel:{{ replace .Site.Params.tel " " "-" }}">
      <img src="/img/kontakt/tel_black.svg" alt="Tel.:" />
    </a>
    <a href="tel:{{ replace .Site.Params.tel " " "-" }}">
      {{ .Site.Params.tel }}</a
    >
    <pre class="navic">, </pre>
    <a class="navic" href="tel:{{replace .Site.Params.tel2 " " "-" }}">
      {{ .Site.Params.tel2 }}</a
    >
  </div>
  <div class="contact">
    <a
      class="contact"
      href="{{ .Site.Params.facebook }}"
      target="_blank"
      rel="noopener"
    >
      <img src="/img/kontakt/fb_black.svg" alt="Facebook:" />
    </a>
    <a
      class="contact"
      href="{{ .Site.Params.facebook }}"
      target="_blank"
      rel="noopener"
    >
      Facebook
    </a>
  </div>
</div>
