<table id="kontakt-rozsireny">
  <tr>
    <td>{{ T "jednatel" }}</td>
    <td>{{ .Site.Params.jednatelJmeno }}</td>
    <td>{{ .Site.Params.jednatelTel }}</td>
  </tr>
  <tr>
    <td>{{ T "vedouciVyroby" }}</td>
    <td>{{ .Site.Params.vedouciVyroby }}</td>
    <td>{{ .Site.Params.vedouciVyrobyTel }}</td>
  </tr>
  <tr>
    <td>{{ T "asistentVedouciho" }}</td>
    <td>{{ .Site.Params.asistentVedouciho }}</td>
    <td>{{ .Site.Params.asistentVedoucihoTel }}</td>
  </tr>
  <tr>
    <td>{{ T "rizeniJakosti" }}</td>
    <td>{{ .Site.Params.rizeniJakosti }}</td>
    <td>{{ .Site.Params.rizeniJakostiTel }}</td>
  </tr>
  <tr>
    <td>{{ T "personalniOddeleni" }}</td>
    <td>{{ .Site.Params.personalista }}</td>
    <td>{{ .Site.Params.personalistaTel }}</td>
  </tr>
</table>
