<div class="loga-partneru">
  {{ $count := 0 }}
 {{ range sort .Site.Params.partneri "weight" }}

  {{ $img := .soubor }}
 {{ $jmeno := .name }}
 {{ $link := .link }}

  {{ if lt $count 4 }}
 {{ $soubor := "" }}

  <!-- Pokud existuje soubor ve formatu svg, png, jpeg nebo jpg, bude pridan jako alternativa k webp -->
  {{ if (fileExists (delimit (slice "static" $img ".svg") "")) }}

  {{ $soubor = delimit (slice $img ".svg") "" }}

  {{ else if (fileExists (delimit (slice "static" $img ".png") "")) }}

  {{ $soubor = delimit (slice $img ".png") "" }}

  {{ else if (fileExists (delimit (slice "static" $img ".jpg") "")) }}

  {{ $soubor = delimit (slice $img ".jpg") "" }}

  {{ else if (fileExists (delimit (slice "static" $img ".jpeg") "")) }}

  {{ $soubor = delimit (slice $img ".jpeg") "" }}
 {{end}}

  <a href="{{ $link }}" target="_blank" rel="noopener">
    <picture>
      <source
        srcset="{{ delimit (slice $img ".webp") "" }}"
        type="image/webp"
      />
      <source srcset="{{ $soubor }}" type="image/jpeg" />
      <img class="pictures" src="{{ $soubor }}" alt="Firma {{ $jmeno }}" />
    </picture>
  </a>
  {{ $count = add $count 1 }}
 {{ end }}
 {{ end }}

</div>

<details>
  <summary> {{ T "dalsi_partneri" }}
 </summary>
  {{ $count = 0 }}

  <div class="loga-partneru">
    {{ range sort .Site.Params.partneri "weight" }}
 {{ $img := .soubor }}

    {{ $jmeno := .name }}
 {{ $link := .link }}
 {{ if gt $count 3}}

    {{ $soubor := "" }}

    {{ if (fileExists (delimit (slice "static" $img ".svg") "")) }}

    {{ $soubor = delimit (slice $img ".svg") "" }}

    {{ else if (fileExists (delimit (slice "static" $img ".png") "")) }}

    {{ $soubor = delimit (slice $img ".png") "" }}

    {{ else if (fileExists (delimit (slice "static" $img ".jpg") "")) }}

    {{ $soubor = delimit (slice $img ".jpg") "" }}

    {{ else if (fileExists (delimit (slice "static" $img ".jpeg") "")) }}

    {{ $soubor = delimit (slice $img ".jpeg") "" }}
 {{end}}

    <a href="{{ $link }}" target="_blank" rel="noopener">
      <picture>
        <source
          srcset="{{ delimit (slice $img ".webp") "" }}"
          type="image/webp"
        />
        <source srcset="{{ $soubor }}" type="image/jpeg" />
        <img class="pictures" src="{{ $soubor }}" alt="Firma {{ $jmeno }}" />
      </picture>
    </a>
    {{end}}
 {{ $count = add $count 1 }}
 {{end}}

  </div>
</details>
