{{ $img := .Site.Params.logo.hlavniLogo }}
{{ $soubor := "" }}

<!-- Pokud existuje soubor ve formatu png, jpeg nebo jpg, bude pridan jako alternativa k webp -->

{{ if (fileExists (delimit (slice "static" $img ".png") "")) }}
{{ $soubor = delimit (slice $img ".png") "" }}
{{ else if (fileExists (delimit (slice "static" $img ".jpg") "")) }}
{{ $soubor = delimit (slice $img ".jpg") "" }}
{{ else if (fileExists (delimit (slice "static" $img ".jpeg") "")) }}
{{ $soubor = delimit (slice $img ".jpeg") "" }}
{{end}}
<picture>
  <source srcset="{{ .Site.Params.logo.hlavniLogo }}.webp" type="image/webp" />
  <source srcset="{{ $soubor }}" />
  <img
    class="firemniLogo"
    src="{{ $soubor }}"
    alt="Logo firmy {{ .Site.Params.firma }}"
  />
</picture>
