<div class="contact">
  <img src="/img/kontakt/mappoint_black.svg" alt="GPS:" />
  <span>49°50'31.0"N 18°14'14.0"E</span>
</div>
<div class="map-responsive">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d41178.060510219424!2d18.227715709900366!3d49.83064185672049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x483e2ce15854aa04!2sWeppler%20Tools%2C%20s.r.o.!5e0!3m2!1sen!2scz!4v1594362890505!5m2!1sen!2scz"
    width="600"
    height="450"
    frameborder="0"
    style="border: 0;"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
    title="Mapa"
  ></iframe>
</div>
