<div class="page">
  <p class="o-nas">
    {{ T "o_nas" }}

  </p>
  {{ if (isset .Site.Params "body") }}

  <div class="bodove">
    {{ range .Site.Params.body }}
 <span>{{ T . }}</span> {{ end }}

  </div>
  {{ end }}

  {{ .Inner }}

</div>
